apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ if .Values.configmap.name }}{{ .Values.configmap.name }}{{ else }}{{ include "adp.fullname" . }}-demo-a-config{{ end }}
  labels:
    {{- include "adp.labels" . | nindent 4 }}
data:
  config.yaml: |
    app_name: {{ .Values.app.name }}
    version: {{ .Values.app.version }}

    database:
      host: {{ .Values.app.database.host }}
      port: {{ .Values.app.database.port }}
      username: {{ .Values.app.database.username }}
      password: {{ .Values.app.database.password }}

    server:
      port: {{ .Values.app.server.port }}
      timeout: {{ .Values.app.server.timeout }}

    features:
{{- range .Values.app.features }}
      - {{ . }}
{{- end }}