apiVersion: v1
kind: Service
metadata:
  name: {{ include "adp.fullname" . }}-demo-a
  labels:
    {{- include "adp.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "adp.selectorLabels" . | nindent 4 }}