apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "adp.fullname" . }}-config
  labels:
    {{- include "adp.labels" . | nindent 4 }}
data:
  config.yaml: |
{{ .Files.Get "files/config.yaml" | indent 4 }}